<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"/>
  <meta name="twitter:site" content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}" />
  {{ end }}

  {{ partial "favicon.html" }}

  <!-- Styles -->
  {{ block "styles" . }} {{ end }} <!-- Get "style_opts" variable from "styles" block -->
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
  {{ $custom_styles_opts := (dict "src" "scss/custom.scss" "dest" "css/custom.css") }}
  
  {{ $current_page := . }}
  
  {{ range (slice $base_styles_opts $custom_styles_opts) }}
    {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  {{ end }}
  
  {{ range .AlternativeOutputFormats }} 
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.FirstSuffix.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }} 
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  {{ partial "burger.html" .}} 

  {{ partial "nav.html" .}}

  <main>
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

    <div class="flex-wrapper">
      <div class="post__container" style="margin-left: 50px !important;">
        <div class="post row">
          <header class="post__header" >
            <h1 id="post__title">{{.Title}}</h1>
            {{ if .Date }}<time datetime="{{ .Date }}" class="post__date">Last update: {{ .Date.Format $dateFormat }}</time> {{ end }}
          </header>
          <article class="post__content">
            <div class="container">
              <div class="row my-4">
                <div class="col-md-4 p-0 align-self-center">
                  {{ $image := .Resources.Get "profile.jpg" }}
                  {{ $image := $image.Fill "600x600" }}
                  {{ with $image }}
                  <img src="{{ .RelPermalink }}" id="profile-picture">
                  {{ end }}  
                </div>
                <div class="col-md-8 p-4">
                    <h4>Personal Information</h4>
                    <p class="mb-1"><b>Full name:</b> Gionatan Buono</p>
                    <p class="mb-1"><b>Birth Date:</b> 09/07/2003 (~{{ sub now.Year 2003 }} y.o.) </p>
                    <p class="mb-1"><b>City:</b> Prato, Italy </p>
                    <p class="mb-1"><b>Nationality:</b> Italian </p>
                    <p ><b>Email:</b> <a class="accent-link" href="mailto:buono.gionatan@gmail.com">buono.gionatan@gmail.com</a></p>
                    <h4>Interests</h4>
                    <p>Many! I am a curious individual (hence the term "philomath" in my bio)! 
                      <br>I have a wide range of interests including Art, Photography, Music, Computers, Math, Physics, History, ...</p>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <h2>Education</h2>
                  <hr>
                  <div class="row">
                    <span class="col-2"><p>2022 - Present</p></span>
                    <span class="col-10">
                      <p><b>Bachelor's Degree in Computer Science</b></p>
                      <p><i><a class="accent-link" href="https://www.unifi.it/">Università degli Studi di Firenze</a>, Florence, Italy</i></p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2017 - 2022</p></span>
                    <span class="col-10">
                      <p><b>High School Degree in "Information and Communication Technology"</b></p>
                      <p><i><a class="accent-link" href="https://www.tulliobuzzi.edu.it/">Istituto Tecnico Industriale "Tullio Buzzi"</a>, Prato, Italy</i></p> 
                      <p>Graduated with a score of 100/100 with honors</p>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <h2>Projects & Working Experience</h2>
                  <hr>
                  <div class="row" style="display: none;">
                    <span class="col-2"><p>2024 - 2025</p></span>
                    <span class="col-10">
                      <p><b>Using CNNs to predict galaxys red-shift</b></p>
                      <p> Thesis abstract here </p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2023 - Present</p></span>
                    <span class="col-10">
                      <p><b>Personal Portfolio Website - <a class="accent-link" href="https://raptor803.github.io/about/">raptor803.github.io</a></b></p>
                      <p>Developed my personal portfolio website, using <a class="accent-link" href="https://gohugo.io/">Hugo</a>, a Go-based framework, with <a class="accent-link" href="https://github.com/jakewies/hugo-theme-codex">Codex</a> and <a class="accent-link" href="https://themes.gohugo.io/themes/gallerydeluxe/">Gallery Deluxe</a> themes</p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2018 - Present</p></span>
                    <span class="col-10">
                      <p><b>Territory Manager</b></p>
                      <p class="m-0">Developed a management website for organizing territories (maps) among people and tracking coverage progress over time</p>
                      <p>Backend built with <a class="accent-link" href="https://www.php.net/">PHP</a> and <a class="accent-link" href="https://www.mysql.com/it/">MySQL</a> running on <a class="accent-link" href="https://www.docker.com/">Docker</a> containers, Frontend implemented with <a class="accent-link" href="https://leafletjs.com/">Leaflet</a>, <a class="accent-link" href="https://openlayers.org/">OpenLayers</a> and <a class="accent-link" href="https://getbootstrap.com/">Bootstrap</a></p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2021 - 2022</p></span>
                    <span class="col-10">
                      <p><b>Web Crawler</b></p>
                      <p>Created a <a class="accent-link" href="https://www.python.org/">Python</a> CLI-based multi-threaded tool to query websites and present results nicely using <a class="accent-link" href="https://github.com/Textualize/rich">Rich</a></p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2021</p></span>
                    <span class="col-10">
                      <p><b>Internship at Develer</b></p>
                      <p class="m-0">Three weeks internship at <a class="accent-link" href="https://www.develer.com/">Develer</a>, a software house based in Campi Bisenzio, Florence</p>
                      <p>Worked with the "embedded" team to create Python tools for interacting with electronic devices over TCP, via a GUI.</p>
                    </span>
                  </div>
                  <div class="row">
                    <span class="col-2"><p>2020</p></span>
                    <span class="col-10">
                      <p><b>Cyberchallenge 2020</b></p>
                      <p class="m-0">Participated in the <a class="accent-link" href="https://cyberchallenge.it/">Cyberchallenge</a> 2020 cybersecurity contest</p>
                      <p>After three months of training on various cybersecurity topics, such as Web security, Hardware security and Cryptography, I joined the <a class="accent-link" href="https://www.c3t.it/">C3T</a> team for the final Attack-Defense CTF contest</p>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">

                      <h2>Languages</h2>
                      <hr>
                      <ul>
                        <li class="m-0">Italian (native)</li>
                        <li class="m-0">English (C1)</li>
                        <li class="m-0">Chinese (B2)</li>
                        <li class="m-0">French (A2)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">

                      <h2>Soft Skills</h2>
                      <hr>
                      <ul>
                        <li class="m-0">Excellent organizational and time management skills</li>
                        <li class="m-0">Strong problem-solving ability</li>
                        <li class="m-0">Ability to work independently and manage tasks without constant supervision</li>
                        <li class="m-0">Good teamwork and collaboration skills</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h2>Technical Skills</h2>
                  <hr>
                  <ul>
                    <li class="m-0">Python (Advanced)</li>
                    <li class="m-0">Java (Advanced)</li>
                    <li class="m-0">SQL and related DBMS (MySQL, MariaDB) (Advanced)</li>
                    <li class="m-0">C++ (Intermediate)</li>
                    <li class="m-0">PHP (Intermediate)</li>
                    <li class="m-0">JavaScript (Intermediate)</li>
                    <li class="m-0">Docker (Intermediate)</li>
                    <li class="m-0">Linux (Intermediate)</li>
                    <li class="m-0">Git (Intermediate)</li>
                  </ul>
                  I also have familiarity with Linux (Debian-based distro or Fedora), Windows 10/11 and macOS 
                </div>
              </div>
                
            </div>
            

          </article>
          {{ partial "tags.html" .}} {{ partial "post-pagination.html" .}}
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
      {{ if .Params.toc }}
      <div class="toc-container">
          {{ if .Site.Params.showPageTitleInTOC }} <div class="toc-post-title">{{ .Title }}</div> {{ end }}
        {{ .TableOfContents }}
      </div>
      {{ end }}
    </div>
    
  </main>

  {{ partial "footer.html" .}}

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
